<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient : Profile</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js" integrity="sha512-iWPnCISAd/J+ZacwV2mbNLCaPGRrRo5OS81lKTVPtRg1wGTC20Cfmp5Us5RcbLv42QLdbAWl0MI57yox5VecQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .overlay {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.7);
          transition: opacity 500ms;
          visibility: hidden;
          opacity: 0;
        }
        .overlay:target {
          visibility: visible;
          opacity: 1;
        }
  
        .popup {
          margin: 5px auto;
          padding: 20px;
          background: #fff;
          border-radius: 5px;
          width: 30%;
          position: relative;
          transition: all 5s ease-in-out;
        }
  
        .popup h2 {
          margin-top: 0;
          color: #333;
          font-family: Tahoma, Arial, sans-serif;
        }
        .popup .close {
          position: absolute;
          top: 20px;
          right: 30px;
          transition: all 200ms;
          font-size: 30px;
          font-weight: bold;
          text-decoration: none;
          color: #333;
        }
        .popup .close:hover {
          color: #06d85f;
        }
        .popup .content {
          max-height: 30%;
          overflow: auto;
        }
        #remark-chat{
          max-width: 600px;
          margin: 30px auto;
          border: 1px solid #ddd;
          box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
          border-radius: 2px;
        }
        #remark-window{
          height: 400px;
          overflow: auto;
          background: #f9f9f9;
        }
        #output #me{
          padding: 14px 0px;
          /* margin: 0 20px; */
          margin-right: 5px;
          margin-left: 30px;
          /* border-bottom: 1px solid #e9e9e9; */
          color: #000000;
          border: 1px solid #e9e9e9;
          margin-top: 5px;
          background-color: yellow;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        #output #other{
          padding: 14px 0px;
          /* margin: 0 20px; */
          margin-right: 30px;
          margin-left: 5px;
          /* border-bottom: 1px solid #e9e9e9; */
          color: black;
          border: 1px solid #e9e9e9;
          margin-top: 5px;
          background-color: #ccc;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        #message{
          padding: 10px 20px;
          box-sizing: border-box;
          background: #eee;
          border: 0;
          display: block;
          width: 100%;
          background: #fff;
          border-bottom: 1px solid #eee;
          font-family: Nunito;
          font-size: 16px;
        }
        button{
          background: #575ed8;
          color: #fff;
          font-size: 18px;
          border: 0;
          padding: 12px 0;
          width: 100%;
          border-radius: 0 0 2px 2px;
        }
      </style>
                        
</head>
<body>
  <form action="/logout/patient">
    <input type="submit" value="LOGOUT">
  </form>
  <p><%= msg %></p>
    <img style="width: 200px; height: 200px; border-radius: 50%;" src="<%= person.profilePicture %>" alt="<%= person.firstname %> <%= person.lastname %>">
    <h3><%= person.title %> <%= person.firstname %> <%= person.lastname %></h3>
    <h5><%= person.email %></h5>
    <a href="#fullProfile">View Full Profile</a>
    <% const birth = person.dob %>
    <% const yob = birth.slice(0, 4) %>
    <% const yobN = parseInt(yob, 10) %>
    <% const date = new Date() %>
    <% const realDate = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDay() %>
    <% const realYear = realDate.slice(0, 4) %>
    <% const now = parseInt(realYear, 10) %>
    <% const age = now - yobN %>
    <center>
        <div id="fullProfile" class="overlay">
            <div class="popup">
              <h2><%= person.title %> <%= person.firstname %> <%= person.lastname %></h2>
              <a class="close" href="">&times;</a>
              <div class="content">
                <img style="width: 200px; height: 200px; border-radius: 50%;" src="<%= person.profilePicture %>" alt="<%= person.firstname %> <%= person.lastname %>">
                <br>
                <p><b>Email:</b> <%= person.email %></p>
                <p><b>Gender:</b> <%= person.gender %></p>
                <p><b>Age:</b> <%= age %></p>
                <p><b>Address:</b> <%= person.address %></p>
                <p><b>State Of Origin:</b> <%= person.stateOfOrigin %></p>
                <p><b>Marital Status:</b> <%= person.maritalStatus %></p>
              </div>
            </div>
          </div>
    </center>
    <br>
    <h1>All Appointments</h1>
    <!-- <% const names = [] %>
    <% const ids = [] %>
    <% for (let i = 0; i <= doctors.length; i++) { %>
        <% names.push(doctors[i]) %>
    <% } %>
    <% doctors.forEach(doctor => { %>
      <p><%= doctor.firstname %> <%= doctor.lastname %></p>
    <% }) %> -->
    <!-- <p><%= doctors.length %></p> -->
    <table>
        <tr>
            <th>Doctor</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
            <th>Book Now</th>
        </tr>
        <tr>
            <% if (schedules.length > 0) { %>
                <% schedules.forEach(schedule => { %>
                    <% const createdAtEvent = new Date(schedule.createdAt) %>
                    <% const createdAtTime = createdAtEvent.toLocaleTimeString('en-US') %>
                    <% const startEvent = new Date(schedule.start) %>
                    <% const startTime = startEvent.toLocaleTimeString('en-US') %>
                    <% const endEvent = new Date(schedule.end) %>
                    <% const endTime = endEvent.toLocaleTimeString('en-US') %>
                    <tr>
                      <% doctors.forEach(doctor => { %>
                        <% if (doctor._id == schedule.doctor) { %>
                          <td><a href="#fullProfile/<%= doctor._id %>"><%= doctor.firstname %> <%= doctor.lastname %></a></td>
                          <center>
                            <div id="fullProfile/<%= doctor._id %>" class="overlay">
                                <div class="popup">
                                  <h2>Dr. <%= doctor.title %> <%= doctor.firstname %> <%= doctor.lastname %></h2>
                                  <a class="close" href="">&times;</a>
                                  <div class="content">
                                    <img style="width: 200px; height: 200px; border-radius: 50%;" src="<%= doctor.profilePicture %>" alt="<%= doctor.firstname %> <%= doctor.lastname %>">
                                    <br>
                                    <p><b>Email:</b> <%= doctor.email %></p>
                                    <p><b>Gender:</b> <%= doctor.gender %></p>
                                    <p><b>Age:</b> <%= age %></p>
                                    <p><b>Address:</b> <%= doctor.address %></p>
                                    <p><b>State Of Origin:</b> <%= doctor.stateOfOrigin %></p>
                                    <p><b>Marital Status:</b> <%= doctor.maritalStatus %></p>
                                  </div>
                                </div>
                              </div>
                        </center>
                        <% } else { %>

                        <% } %>
                      <% }) %>
                        <!-- <td><%= schedule.doctor %></td> -->
                        <td><%= startEvent.toLocaleString() %></td>
                        <td><%= endEvent.toLocaleString() %></td>
                        <% if (schedule.active == false) { %>
                            <td>Pending</td>
                          <% } else { %>
                            <td>Live</td>
                          <% } %>
                          <% const SID = schedule._id %>
                          <% const DID = schedule.doctor %>
                          <% const PID = person._id %>
                          <td>
                            <!-- <form action="#booking/<%= SID %>/<%= DID %>/<%= PID %>" method="GET">
                              <input type="submit" value="Book Now">
                            </form>  -->
                            <a href="#booking/<%= SID %>/<%= DID %>/<%= PID %>">Book Now</a>
                            <!-- <form action="/book/<%= SID %>/<%= DID %>/<%= PID %>" method="POST">
                              <input type="submit" value="Book Now">
                            </form> -->
                          </td>
                          <div id="booking/<%= SID %>/<%= DID %>/<%= PID %>" class="overlay">
                              <div class="popup">
                                <h2>Book Appointment Time/Date</h2>
                                <a class="close" href="">&times;</a>
                                <div class="content">
                                  <p><b>Note: </b>Time/Date must be Between <%= startEvent.toLocaleString() %> and <%= endEvent.toLocaleString() %></p>
                                  <form action="/book/<%= SID %>/<%= DID %>/<%= PID %>" method="POST" enctype="multipart/form-data">
                                    <label for="start">Start Time & date</label>
                                    <input type="datetime-local" name="start" id="start" required>
                                    <br>
                                    <label for="end">End Time & date</label>
                                    <input type="datetime-local" name="end" id="end" required>
                                    <br>
                                    <input type="submit" value="Book">
                                  </form>
                                </div>
                              </div>
                            </div>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td>------</td>
                    <td>------</td>
                    <td>------</td>
                    <td>------</td>
                    <td>------</td>
                </tr>
            <% } %>
        </tr>
    </table>
    <br>
    <h1>Booked Appointments</h1>
    <table>
      <tr>
          <th>Doctor</th>
          <th>Booked Start Time/Date</th>
          <th>Booked End Time/Date</th>
          <th>Status</th>
          <th>Appointment Start Time/Date</th>
          <th>Appointment End Time/Date</th>
          <th>Remark</th>
          <th>Book Now</th>
          <th>Delete</th>
      </tr>
      <tr>
          <% if (bookings.length > 0) { %>
              <% bookings.forEach(booking => { %>
                  <% const createdAtEvent = new Date(booking.createdAt) %>
                  <% const createdAtTime = createdAtEvent.toLocaleTimeString('en-US') %>
                  <% const startEvent = new Date(booking.start) %>
                  <% const startTime = startEvent.toLocaleTimeString('en-US') %>
                  <% const endEvent = new Date(booking.end) %>
                  <% const endTime = endEvent.toLocaleTimeString('en-US') %>
                  <tr>
                    <% doctors.forEach(doctor => { %>
                      <% if (doctor._id == booking.doctorID) { %>
                        <td><a href="#fullProfile/<%= doctor._id %>"><%= doctor.firstname %> <%= doctor.lastname %></a></td>
                        <center>
                          <div id="fullProfile/<%= doctor._id %>" class="overlay">
                              <div class="popup">
                                <h2>Dr. <%= doctor.title %> <%= doctor.firstname %> <%= doctor.lastname %></h2>
                                <a class="close" href="">&times;</a>
                                <div class="content">
                                  <img style="width: 200px; height: 200px; border-radius: 50%;" src="<%= doctor.profilePicture %>" alt="<%= doctor.firstname %> <%= doctor.lastname %>">
                                  <br>
                                  <p><b>Email:</b> <%= doctor.email %></p>
                                  <p><b>Gender:</b> <%= doctor.gender %></p>
                                  <p><b>Age:</b> <%= age %></p>
                                  <p><b>Address:</b> <%= doctor.address %></p>
                                  <p><b>State Of Origin:</b> <%= doctor.stateOfOrigin %></p>
                                  <p><b>Marital Status:</b> <%= doctor.maritalStatus %></p>
                                </div>
                              </div>
                            </div>
                      </center>
                      <!-- for remarks -->
                      <% } else { %>

                      <% } %>
                    <% }) %>
                      <td><%= startEvent.toLocaleString() %></td>
                      <td><%= endEvent.toLocaleString() %></td>
                        <% info.forEach(one => { %>
                          <% if (one._id == booking.scheduleID) { %>
                            <% if (one.active == false) { %>
                              <td>Pending</td>
                            <% } else { %>
                              <td>Live</td>
                            <% } %>
                          <% } else { %>

                          <% } %>
                        <% }) %>
                        <% info.forEach(one => { %>
                          <% if (one._id == booking.scheduleID) { %>
                            <td><%= new Date(one.start).toLocaleString() %></td>
                          <% } else { %>
  
                          <% } %>
                        <% }) %>
                        <% info.forEach(one => { %>
                          <% if (one._id == booking.scheduleID) { %>
                            <td><%= new Date(one.end).toLocaleString() %></td>
                          <% } else { %>
  
                          <% } %>
                        <% }) %>
                        <% info.forEach(one => { %>
                          <% if (one._id == booking.scheduleID) { %>
                            <% const sender = booking.patientID %>
                            <% const receiver = booking.doctorID %>  
                            <td>
                              <a href="#remark/<%= sender %>/<%= receiver %>">remark</a>
                            </td>
                            <center>
                              <div id="remark/<%= sender %>/<%= receiver %>" class="overlay">
                                  <div class="popup">
                                    <h2>Remarks</h2>
                                    <form action="">
                                      <input type="submit" value="Reload" id="reload">
                                    </form>
                                    <% doctors.forEach(doctor => { %>
                                      <% if (doctor._id == receiver) { %>
                                        <p>From: <b>Me</b> To: <b>Dr. <%= doctor.firstname %> <%= doctor.lastname %>  </b></p>
                                      <% } else { %>

                                      <% } %>
                                    <% }) %> 
                                    <a class="close" href="">&times;</a>
                                    <div id="remark-chat">
                                      <div id="remark-window">
                                        <div id="output">
                                          <% remarks.forEach(remark => { %>
                                            <% if (remark.from == sender && remark.to == receiver) { %>
                                              <p id="me"><%= remark.message %> </p>
                                            <% } else if (remark.to == sender && remark.from == receiver) { %>
                                              <p id="other"><%= remark.message %></p>
                                            <% } else { %>

                                            <% } %>
                                          <% }) %> 
                                        </div>
                                      </div>
                                      <form action="/remark/p/<%= sender %>/<%= receiver %>" method="post">
                                        <input type="text" name="message" id="message" placeholder="message">
                                        <button type="submit" id="send">Send</button>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                            </center>
                          <% } else { %>
  
                          <% } %>
                        <% }) %>
                        <td>
                          <form action="">
                            <input type="submit" value="Booked" disabled>
                          </form>
                        </td>
                        <td><a href="#">Delete</a></td>
                  </tr>
              <% }) %>
              <!-- sdfghjk -->
          <% } else { %>
              <tr>
                  <td>------</td>
                  <td>------</td>
                  <td>------</td>
                  <td>------</td>
                  <td>------</td>
                  <td>------</td>
                  <td>------</td>
                  <td>------</td>
                  <td>------</td>
              </tr>
          <% } %>
      </tr>
  </table>
  <script>
    const reload = document.getElementById("reload")
    reload.addEventListener('click', () => {
      location.reload();
    })
  </script>
</body>
</html>