<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin : Doctors</title>
</head>
<body>
    <p><%= msg %></p>
    <h1>View All Doctors</h1>
    <table>
        <tr>
            <th>FullName</th>
            <th>Age</th>
            <th>Status</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
        <tr>
            <% if (doctors.length > 0) { %>
                <% doctors.forEach(doctor => { %>
                    <% const birth = doctor.dob %>
                    <% const yob = birth.slice(0, 4) %>
                    <% const yobN = parseInt(yob, 10) %>
                    <% const date = new Date() %>
                    <% const realDate = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDay() %>
                    <% const realYear = realDate.slice(0, 4) %>
                    <% const now = parseInt(realYear, 10) %>
                    <% const age = now - yobN %>
                    <tr>
                        <td>Dr. <%= doctor.firstname %> <%= doctor.lastname %></td>
                        <td><%= age %></td>
                        <% if (doctor.permitApprove == true && doctor.identityApprove == true) { %>
                            <td>Approved</td>
                        <% } else { %>
                            <td>Pending</td>
                        <% } %>
                        <td><a href="/viewDoctor/<%= doctor._id %>">View</a></td>
                        <td><a href="/deleteDoctor/<%= doctor._id %>">Delete</a></td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td>-----</td>
                    <td>-----</td>
                    <td>-----</td>
                    <td>-----</td>
                    <td>-----</td>
                </tr>
            <% } %>
        </tr>
    </table>
</body>
</html>